*{margin:0;padding:0;box-sizing:border-box;font-family:Montserrat;}

body{
  min-height:100vh;
  color:white;
  background:#0f172a;
  overflow-x:hidden;
}

.bg{
  position:fixed;
  inset:0;
  background:radial-gradient(circle at top,#2563eb,#020617);
  z-index:-1;
}

.glass{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  border-radius:20px;
  margin:40px auto;
  padding:50px;
  width:85%;
  box-shadow:0 20px 50px rgba(0,0,0,0.5);
  animation:fade 1s ease;
}

header{
  text-align:center;
}

.profile{
  width:150px;
  border-radius:50%;
  border:4px solid #60a5fa;
  margin-bottom:20px;
}

h1{
  font-size:48px;
}

h2{
  margin-bottom:20px;
  color:#60a5fa;
}

.btns a{
  background:#60a5fa;
  color:black;
  padding:12px 30px;
  margin:10px;
  display:inline-block;
  border-radius:30px;
  text-decoration:none;
  font-weight:700;
}

.skills span{
  display:inline-block;
  background:rgba(255,255,255,0.1);
  padding:12px 25px;
  margin:10px;
  border-radius:30px;
}

.cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  width:260px;
  height:140px;
  background:linear-gradient(120deg,#3b82f6,#9333ea);
  margin:15px;
  border-radius:20px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-weight:700;
  transition:0.4s;
}

.card:hover{
  transform:translateY(-10px) scale(1.05);
}

footer{
  text-align:center;
  padding:20px;
  color:#93c5fd;
}

@keyframes fade{
  from{opacity:0;transform:translateY(30px);}
  to{opacity:1;transform:translateY(0);}
}
